<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="childapp.childletter.splachhome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChatActivity"
            android:theme="@style/AppThemeNo" />
        <activity android:name=".DashboradActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RgisterActivity" />
        <activity android:name=".SplachActivity" />

        <service
            android:name=".notofications.FirebaseServices"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".notofications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data android:name="io.fabric.ApiKey"
            android:value="AAAARPS8GIM:APA91bG0yVcwYPBhFIB6Ih1wI_jREri1qwEvxhhktdHZW-ZtiIjmsh87LaG5djJyg2bVhfwDZO5ZnY-Mu4y_zglGUGy5Wvj3FdMMV0Esdzw63UVXEQ8w78bCgn5frzRsfOWyeDQL9QQ8"
            />

    </application>

</manifest>